@font-face {
    font-family: 'Robotron';
    src: url('WilliamsRobotron.woff2') format('woff2'),
        url('WilliamsRobotron.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StargateSmall';
    src: url('stargate-small.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}